os: osx
osx_image: xcode10.2
language: objective-c
sudo: false
env:
  global:
  - THEOS=~/theos
before_install:
  - brew update
  - brew install dpkg ldid
  - git clone --recursive git://github.com/theos/theos.git ~/theos
script:
  - "export VERSION=$(grep 'Version: ' control | sed 's/^.*: //')"
  - "export DESCRIPTION=$(awk '/## v$VERSION/{getline; print}' README.md)"
  - "export FILENAME='packages/'\"$(grep 'Package: ' control | sed 's/^.*: //')\"'_'\"$VERSION\"'_iphoneos-arm.deb'"
  - make package
before_deploy:
  - git config --local user.name "Jeff Rescignano"
  - git config --local user.email "jeff@jeffresc.com"
  - git tag -a v$VERSION -m "$DESCRIPTION"
deploy:
  provider: releases
  api_key:
    secure: AIpwCNmALde03/O7tm/i21xduQN8GrBUQSYXodd4Q0IdUx6O/aINKGuglYIDymywH/Qhz2fXFCmqhNF10EP6/0Cu62CAUwi471CxMHY6e98TOwenh37H7diU1Thrh83jcGC1da9yj2JXdtFhfzJ08NCWsTAKP9tSb6g/E7KTFKmELlQbFJqHfVHrbfS23J/ttoObMuazzua/3gDuSyfReg0AhaID4Bf+cZ0Gzq7xcH0HAxVuY5NLfnGR4GDQCaLE6xZC/5wweG/+MXdodMqmvToo390xapx91S7cIxh+uSEeZIvvG/hIDg49y+kWqSjLzEgJT3xjajvSUODCet5WrcTT7LeECiBnjL9mA/OTIwkd/wmKANkskw8aWWA5PsO8aRSHaUsvB2X1C80vgHmwqpq1yFGlmfStEYVY6isWTDzjGqWCj+L5GT7a4ANAzqVxQPhNwCr05urTIGRQ0WIQVEbFBOGIOUUT+CtCPJW3We6JzsUndvJcvxHZgF2dDECxIOiSXbs3tNYPNHNVnHuK9ut9YGrF1NiLKiC5P1kWvNpLxX2OipDDZG89xSVD1C19Vl0qrhFLo7bc1ICzf4tsHYHG2lrEJv0z7glL1Fd0lJIz2gz1sAn+HsLA3YZJ5/UOkTHc7PFGKW+ipvuKewtWv+26T/iSoRWauKimi+thXjc=
  file: $FILENAME
  skip_cleanup: true
  on:
    branches:
      only:
        - release
